@keyframes ninjawiggle {

	0%, 
	100% {
		transform: translateX(0);
	}

	25% {
		transform: translateX(-2px);
	}

	75% {
		transform: translateX(2px);
	}
}

* {
	box-sizing: border-box;
	text-decoration: none;
	outline: none;
}

body {
	margin: 0;
	padding: 15px;
	text-align: center;
	font-family: "Questrial", sans-serif;
	font-size: 16px;
	line-height: 1.618em;
	background: #eceff1;
	color: #424242;
}


.splash {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 250;
	display: flex;
	width: 100vw;
	height: 100vh;
	background-color: #eceff1;
	box-shadow: 0 5px 50px #aaa;
}

.splash .center {
	width: 100%;
	margin: auto;
	padding: 165px 15px 15px;
	background: url(pict/fotoku.png) center top no-repeat;
	background-size: 180px;
}

.splash .center h1 {
	margin: 0 0 20px;;
	font-family: "Sigmar One", cursive;
	font-size: 3em;
	font-weight: normal;
	color: #50c878;
	-webkit-text-stroke: 2px #4a5f6c;
}

.splash .center button {
	margin-top: 30px;
	padding: 15px 30px;
	font-size: 1.25em;
	line-height: 1em;
	background: #50c878;
	color: #fff;
	border: none;
	border-radius: 50px;
	box-shadow: 0 8px 0 #56b876;
}

.splash .center button:active {
	transform: translateY(8px);
	box-shadow: none;
}

.block {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 300;
	display: flex;
	width: 100vw;
	height: 100vh;
	background: #eceff1;
}

.block span {
	margin: auto;
	padding: 30px;
}

.biodata .foto-biodata {
	width: 100%;
	height: auto;
	max-height: 200px;
	max-width: 200px;
	border: 2px dashed #56b876;
	border-radius: 50%;
	
}
.biodata .myname {
	margin: 0 0 20px;
	font-family: "Sigmar One", cursive;
	font-size: 2.5em;
	font-weight: normal;
	color: #50c878;
	-webkit-text-stroke: 2px #4a5f6c;

}

.biodata h4 {
	line-height: 0.8px;
	font-family: "Sigmar One", cursive;
	color: #4a5f6c;
	font-size: 1em;
}

.card-custom {
	background-color: #f1f1f1;
	box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
	padding: 5px;
	margin: 12px 5px;
	border-radius: 8px;
}

.card-custom h5 {
	line-height: 0.8px;
	color: #4a5f6c;
	font-size: 1em;
	font-weight: bold;
	margin-top: 12px;

}

.judul-resume {
	background-color: #f1f1f1;
	border-radius: 8px;

}
@media (max-width: 670px) and (min-height: 500px) {
	.biodata .foto-biodata {
		max-height: 150px;
		max-width: 150px;
	}

	.biodata .myname {
		font-size: 1.5em;
	}

	.judul-resume {
		position: fixed;
		bottom: 0;;
	}
}




@media (min-width: 300px) and (min-height: 500px) {
	.block {
		display: none;
	}
}
